body {
    background-color: #f0f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login_container {
    width: 100%;
    max-width: 400px;
}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #20B2AA;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}
.btn-primary {
    background-color: #20B2AA;
    border-color: #20B2AA;
}
.btn-primary:hover {
    background-color: #1A8F8A;
    border-color: #1A8F8A;
}
.form-control:focus {
    border-color: #20B2AA;
    box-shadow: 0 0 0 0.2rem rgba(32, 178, 170, 0.25);
}
/* Stile per il logo */
#logo img.logo-icon {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#logo img.logo-icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}
#logo {
    align-self: center;
}